[submodule "examples/cuda/gups/hammerblade-helpers"]
	path = examples/cuda/gups/hammerblade-helpers
	url = git@github.com:mrutt92/hammerblade-helpers
[submodule "libraries/platforms/zynq-vcs/zynq-parrot"]
	path = libraries/platforms/zynq-vcs/zynq-parrot
	url = git@github.com:black-parrot-hdk/zynq-parrot
