[submodule "examples/cuda/aes/tiny-AES-c"]
	path = examples/apps/aes/tiny-AES-c
	url = git@github.com:bespoke-silicon-group/tiny-AES-c.git
        update = none
[submodule "examples/cuda/nbody/Galois"]
	path = examples/cuda/nbody/Galois
	url = git@github.com:bespoke-silicon-group/Galois.git
        update = none
